@tailwind base;
@tailwind components;
@tailwind utilities;


.nome {
    
    
    font-weight: 900;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 5s steps(20) infinite alternate
    , blink 800ms steps(20) infinite normal;
    border-right: 3px solid black;
   
  }
  
  @keyframes typewriter {
    from {
      width: 0%;
    }
    to {
      width: 105%;
    }
  }
  @keyframes blink {
    from {
      border-color: black;
    }
    to {
      border-color: white;
    }
  }

  body::-webkit-scrollbar {
    width: 5px;
    
  }
  
  body::-webkit-scrollbar-thumb {
    
    background-color:  #10B981;
    border-radius: 10px;
    
  }

  .text-with-border {
    text-shadow: 
      0px 0px 3px rgba(0, 0, 0, 1), 
      0px 0px 6px rgba(0, 0, 0, 0.4), 
      0px 0px 9px rgba(0, 0, 0, 0.3); 
  }

@layer base{
    body {
        @apply dark:bg-bgdark bg-bglight dark:text-textdark text-textlight font-Roboto
        
    }
  }